.progress-bar-cover {
  height: 100%;
  flex-grow: 1;
  background: white;
}

@media (max-width: 500px) {
  .progress-bar-cover {
    margin-top: 10px;
    height: calc(100% - 10px);
  }
}

.progress-bar-wrapper {
  height: 100%;
  text-align: center;
  padding: 2rem;
  display: flex;
  align-items: center;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
